extends layout

block content
  .container
    h1= title
    
    h3 Total Reps:&nbsp;
      = totals.reps

    h3 Total Responses:&nbsp;
      = totals.responses
      
    h3 Total Responses in %:&nbsp;
      = totals.ratio
    
      h3 Total Reps Mentors who didn't respond yet:&nbsp;
        = totals.noMentorResponse
    
    h3 Total Reps with a mentor who didn't respond yet:&nbsp;
      = totals.repsWithNoMentorResponse
  
    h3 Total Mobilizers:&nbsp;
      = totals.mobilizers
      
    h3 Total Functional Doers:&nbsp;
      = totals.functional
      
    h3 Ratio of mobilizers of all responses:&nbsp;
      = totals.choiceRatio
