doctype html
html(lang='en-US')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Fira+Sans')
    link(rel='shortcut icon' type='image/png' href='/favicon.png')

  body
    header
      nav
        ul
          li
            a(href='/') Overview
          li
            a(href='/list') List
          li
            a(href='/mentors') Mentor
          li
            a(href='/country') Country
          li.github-link
            a(href='https://github.com/MichaelKohler/reps-role-tracking') Contribute to this page
    
    block content

    footer
      p Mozilla is a global non-profit dedicated to putting you in control of your online experience and shaping the future of the web for the public good.
