html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: 'Fira Sans', sans-serif;
  margin: 0px;
  color: #4D4E53;
}

h1 {
  display: inline-block;
  font-family: 'Arvo', serif;
  font-size: 3rem;
  background-color: #000;
  color: #FFF;
  padding: 10px;
}

h2:not(:first-of-type) {
  margin-top: 50px;
}

table {
  border-collapse: collapse;
  margin-bottom: 15px;
  width: 100%;
}

tr {
  border-bottom: 1px solid #b4b5b9;
}

th tr {
  border-bottom: 0px;
}

table td, table th {
  padding: 5px;
}

th {
  text-align: left;
  background-color: #82D1F5;
  color: #000;
}

table.mentor th:first-child,
table.mentor td:first-child {
  width: 40%;
}

table.mentor th:nth-child(2),
table.mentor td:nth-child(2) {
  width: 10%;
}

table.mentor th:nth-child(2),
table.mentor th:nth-child(3),
table.mentor td:nth-child(2),
table.mentor td:nth-child(3) {
  width: 25%;
}

a {
  color: #4d8a9c;
  text-decoration: none;
}

a:hover, a:visited {
  color: #22505d;
}

@media only screen and (max-device-width : 768px) {
  header {
    display: none;
  }
}

header, footer {
  height: 80px;
  padding-left: 30px;
}

header {
  display: inline-flex;
  width: 100%;

  background-color: #82D1F5;
  color: #000;
}

header img {
  height: 80px;
}

footer {
  background-color: #000;
  color: #FFF;
  display: flex;
  align-items: center;
}

nav ul {
  display: inline-flex;
  height: 100%;
  margin-block-start: 0em;
  list-style-type: none;
  padding-left: 100px;
  align-items: center;
}

nav ul li {
  margin-right: 50px;
  line-height: 30px;
  font-size: 1.3em;
  font-weight: bold;
}

nav ul li:last-child {
  margin-right: 0px;
}

nav a, nav a:hover, nav a:visited {
  color: inherit;
}

.container {
  padding: 0px 30px 30px 30px;
}

.github-link {
  font-weight: normal;
}

.overview {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #82D1F5;
  padding: 20px;
  min-width: 300px;
  max-width: 300px;
  min-height: 300px;
  max-height: 300px;
  margin-right: 5px;
  margin-top: 10px;
}

.card h3 {
  font-size: 2em;
  text-align: center;
}

.card span {
  font-size: 2em;
}

.card span span {
  font-size: 1em;
}
